ansible/roles/*
!ansible/roles/custom_*

# Purely external collections which are installed dynamically with ansible/requirements.yaml
ansible/ansible_collections

.ansible
.idea
.venv
.vscode

.env
vault-pass.txt

terraform/.terraform
terraform/terraform.tfstate*
