.ansible
.idea
.venv
.vscode

# Purely external collections/roles which are installed dynamically with ansible/requirements.yaml
ansible/ansible_collections
ansible/roles_galaxy

.env
vault-pass.txt

terraform/.terraform
terraform/terraform.tfstate*

# Private Git repo for self-hosted runners. This seperate repo can be cloned within this repo but pushed seperately.
gohfert-cluster-private-runners
