ansible/roles/*
!ansible/roles/custom_*

# Purely external collections which are installed dynamically with ansible/requirements.yaml
ansible/ansible_collections

.ansible
.idea
.venv
.vscode

.env
vault-pass.txt

terraform/.terraform
terraform/terraform.tfstate*

# Private Git repo for self-hosted runners. This seperate repo can be cloned within this repo but pushed seperately.
gohfert-cluster-private-runners
