apiVersion: v1
kind: Config
clusters:
  - name: gohfert-cluster
    cluster:
      server: {{API_SERVER}}
      certificate-authority-data: {{CA_CERT}}
users:
  - name: service-account
    user:
      token: {{TOKEN}}
contexts:
  - name: sa-context
    context:
      cluster: gohfert-cluster
      user: service-account
      namespace: default
current-context: sa-context

# EOF
